<mat-toolbar color="primary">
    <span>App Users</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
    <button mat-button routerLink="/dashboard/reportes">Reportes</button>
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button class="example-icon" aria-label="Example icon-button with logout icon">
        <mat-icon><span class="material-icons">
            logout
            </span></mat-icon>
      </button>
</mat-toolbar>